<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block styles %}
    <link rel="stylesheet" href="../static/style.css">
    {% endblock %}
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <nav class="nav-bar">
        <a href="{{ url_for('home') }}" {% if request.path == url_for('home') %}class="active"{% endif %}>Home</a>
        <a href="/todo" {% if request.path == '/todo' %}class="active"{% endif %}>Todos</a>
        <a href="/login" {% if request.path == '/login' %}class="active"{% endif %}>Log in</a>
        <a href="/signup" class="signup-btn" {% if request.path == '/signup' %}class="active"{% endif %}>Sign up</a>
        {% if current_user.is_authenticated %}
            <a href="/logout" {% if request.path == '/logout' %}class="active"{% endif %}>Log out</a>
        {% endif %}
    </nav>

    <div>
        {% block content %}
        
        {% endblock %}
    </div>
</body>
</html>
