{% extends "base.html" %} {% block styles %} {{ super() }}
<style>
    .add-todo-form {
        display: flexbox;
        justify-content: center;
        max-width: 400px;
        margin: 1% auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: whitesmoke;
    }

    .add-todo-form h3 {
        text-align: center;
        margin-bottom: 20px;
        color: blue;
        text-decoration: underline;
    }

    .add-todo-form .form-group {
        margin-bottom: 20px;
    }

    .add-todo-form label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .add-todo-form .form-control {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .add-todo-form .form-control:focus {
        outline: none;
        border-color: #777;
    }

    .btn-login {
        width: 100%;
        padding: 10px;
        background-color: blue;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        font-size: medium;
    }

    .btn-login:hover {
        background-color: black;
    }

    .flash-messages {
        list-style-type: none;
        padding: 0;
        margin: 10px 0;
    }

    .flash-message {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f8f8f8;
        margin-bottom: 10px;
    }

    .flash-container {
        position: fixed;
        bottom: 70px;
        left: 50%;
        transform: translateX(-50%);
        max-width: 400px; /* Adjust this value to control the width of the container */
        z-index: 9999; /* Ensure it appears above other content */
    }

    /* Style for the flash messages */
    .flashes {
        list-style: none;
        padding: 20px;
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        animation: fadeOut 1s linear forwards;
        animation-delay: 1s;
    }

    @keyframes fadeOut {
        0% { opacity: 1; }
        100% { opacity: 0; }
    }

    /* Style for each individual flash message item */
    .flashes li {
        color: red;
        font-size: large;
        font-weight: bold;
        margin-bottom: 3px;
    }

    @media only screen and (max-width: 600px){
        .flash-container {
            max-width: 90%; /* Reduce the container width for smaller screens */
            bottom: 23px; /* Adjust the vertical position for better visibility on mobile */
        }
    }

</style>
{% endblock %} {% block title %}Todo list{% endblock %} {% block content %}
<form method="POST" class="add-todo-form">
    <h3 align="center">Update todo</h3>
    <div class="form-group">
        <label for="title">Title :</label>
        <input type="text" id="title" name="title" class="form-control" placeholder="Enter title of the todo" />
        <br /><br />
        <label for="descr">Description :</label>
        <input type="text" id="descr" name="descr" class="form-control" placeholder="Enter description of the todo" />
        <br /><br />
        <button class="btn-login" type="submit">Update todo</button>
    </div>
</form>

<div class="flash-container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    
</div>

{% endblock %}